.back-ground {
    background-color: black;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
} 
