.questions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.fields {
    background-color: white;
    padding: 30px;
    width: 50%;
    border-radius: 10px;
}
.fields > P {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #212529;
}
.not-listed-input {
    margin: 1rem 0;
}
@media (min-width: 320px) and (max-width: 767px) {
    .questions {
        margin: 0 20px;
    }
    .fields {
        width: 100%;
        padding: 20px;
    }
}
